// $select-width: 31rem;
$select-height: 40px;

::placeholder {
    color: $gray-500 !important;
}

.custom-select,
::placeholder {
    color: $gray-500;

    font-size: 14px;
    font-weight: 500;
}

.input-group {
    display: flex;

    &:not(.icon-end) {
        .form-control {
            order: 2;

            border-radius: 0.5rem;

            border-inline-start: none;
            border-start-start-radius: 0 !important;
            border-end-start-radius: 0 !important;
            border-start-end-radius: 0.5rem !important;
            border-end-end-radius: 0.5rem !important;

            &:focus {
                & + .input-group-text {
                    border: 1px solid #86b7fe;
                }
            }
        }

        .input-group-text {
            order: 1;

            background: #fff;

            border-inline-end: none;
            border-start-start-radius: 0.5rem !important;
            border-end-start-radius: 0.5rem !important;
            border-start-end-radius: 0 !important;
            border-end-end-radius: 0 !important;
        }
    }

    &.icon-end {
        .form-control {
            order: 1;

            border-inline-end: none;
            border-start-end-radius: 0 !important;
            border-end-end-radius: 0 !important;
            border-start-start-radius: 0.5rem !important;
            border-end-start-radius: 0.5rem !important;
        }

        .input-group-text {
            order: 2;

            border-inline-start: none;
            border-start-end-radius: 0.5rem !important;
            border-end-end-radius: 0.5rem !important;
            border-start-start-radius: 0 !important;
            border-end-start-radius: 0 !important;
        }
    }
}

datalist {
    padding-inline-end: 1rem;
}

.custom-select {
    padding-inline: 1rem;

    &:focus-visible {
        outline: 0;
    }
}
