.navbar-toggler {
    @media (max-width: 767px) {
        width: 100%;
        margin: 0.5rem auto;
    }

    @media (min-width: 768px) {
        margin-inline-start: auto;
    }

    &:focus {
        box-shadow: none;
    }

    &:focus-visible {
        outline: 0;
    }

    .navbar-toggler-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin: auto;
        background-image: none;

        &::before,
        &::after {
            content: "";
            display: block;
            border-bottom: 4px solid #fff;
            width: 100%;
            transition: transform 0.5s ease-in-out;

            @media (min-width: 768px) {
                border-bottom: 4px solid darken($cyan, 10%);
            }
        }

        &:before {
            margin-bottom: 5px;
        }
    }

    &:not(.collapsed) {
        .navbar-toggler-icon {
            &:before {
                transform: rotate(-45deg) translateY(2px) translateX(-4px);
            }

            &:after {
                transform: rotate(45deg) translateY(-3px) translateX(-4px);
            }
        }
    }
}

header {
    position: relative;
    z-index: 20;

    @media (max-width: 767px) {
        background: linear-gradient($grad-1 0%, $grad-2 100%);
        box-shadow: 0 -3px 6px rgba(#000, 0.16);

        position: fixed;
        inset: auto 0 0 0;
        z-index: 1001;
    }

    .navbar {
        @media (max-width: 767px) {
            padding-block: 0;
        }

        .navbar-nav {
            flex-grow: 1;

            .nav-item {
                @media (min-width: 992px) {
                    margin-inline: 1rem;
                }

                .nav-link,
                .btn {
                    padding-inline: 0.75rem;
                }

                .nav-link {
                    color: #4a535a;
                }

                .dropdown-toggle {
                    &::after {
                        margin-inline-start: 0.5rem;
                    }
                }

                .dropdown-menu {
                    top: 100% !important;

                    @media (max-width: 991px) {
                        border: none;
                        background: none;
                    }

                    @media (max-width: 767px) {
                        .dropdown-item {
                            color: #fff;
                        }
                    }
                }
            }

            .user-notifi {
                display: grid;
                grid-template-columns: auto auto;

                @media (max-width: 991px) {
                    display: grid;
                    grid-template-columns: 30%;
                    grid-template-rows: auto auto;
                    gap: 10px;
                }

                @media (min-width: 992px) {
                    margin-inline-start: auto;
                    margin-inline-end: 0;
                }

                .user {
                    background-color: $cyan;
                    color: #fff;
                    padding-inline: 0.5rem;

                    &:hover {
                        background-color: lighten($cyan, 1%);
                    }

                    @media (min-width: 992px) {
                        margin-inline-end: 1rem;
                    }
                }

                .notifi {
                    padding-inline: 0.5rem;

                    @media (max-width: 767px) {
                        margin: 0.5rem auto;
                        width: 3rem;
                    }
                }
            }
        }
    }

    &.home {
        .navbar {
            &:first-of-type {
                .navbar-collapse {
                    &.show {
                        border-bottom: 1px solid rgba($gray-100, 0.3);
                    }
                }

                @media (min-width: 992px) {
                    border-bottom: 1px solid rgba($gray-100, 0.3);
                    padding-block: 1rem;
                }
            }

            @media (min-width: 768px) {
                .navbar-brand {
                    display: grid !important;
                    grid-template-columns: repeat(3, auto);
                    grid-template-rows: repeat(8, 10px);
                    gap: 0;

                    .redf-img {
                        grid-area: 1 / 1 / 9 / 2;
                    }

                    span {
                        grid-area: 2 / 2 / 5 / 3;
                    }

                    small {
                        grid-area: 5 / 2 / 6 / 3;
                        font-size: 0.7rem;
                    }

                    .img-2030 {
                        @media (min-width: 992px) {
                            grid-area: 2 / 3 / 8 / 4;
                            border-inline-start: 1px solid #fff;
                            margin-inline-start: 1rem;
                            padding-inline-start: 1rem;
                        }

                        @media (max-width: 991px) {
                            grid-area: 7 / 2 / 8 / 4;
                        }
                    }
                }

                .navbar-nav {
                    justify-content: end;

                    .nav-link {
                        color: #fff;

                        &.with-caret {
                            &::after {
                                content: url(../images/icons/chev-down.svg);
                                margin-inline-start: 1rem;
                            }
                        }

                        .icon {
                            margin-inline-end: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}
