.navbar-toggler {
    @media (max-width: 767px) {
        width: 100%;
        margin: 0.5rem auto;
    }

    @media (min-width: 768px) {
        margin-inline-start: auto;
    }

    &:focus {
        box-shadow: none;
    }

    &:focus-visible {
        outline: 0;
    }

    .navbar-toggler-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin: auto;
        background-image: none;

        &::before,
        &::after {
            content: "";
            display: block;
            border-bottom: 4px solid #fff;
            width: 100%;
            transition: transform 0.5s ease-in-out;

            @media (min-width: 768px) {
                border-bottom: 4px solid darken($cyan, 10%);
            }
        }

        &:before {
            margin-bottom: 5px;
        }
    }

    &:not(.collapsed) {
        .navbar-toggler-icon {
            &:before {
                transform: rotate(-45deg) translateY(2px) translateX(-4px);
            }

            &:after {
                transform: rotate(45deg) translateY(-3px) translateX(-4px);
            }
        }
    }
}

header {
    position: relative;
    z-index: 20;

    @media (max-width: 767px) {
        background: linear-gradient($grad-1 0%, $grad-2 100%);
        box-shadow: 0 -3px 6px rgba(#000, 0.16);

        position: fixed;
        inset: auto 0 0 0;
        z-index: 1001;
    }

    &.inner-header {
        .nav-link {
            color: #4a535a;
        }
    }

    .navbar {
        @media (max-width: 767px) {
            padding-block: 0;
        }

        .navbar-nav {
            flex-grow: 1;

            .nav-item {
                @media (min-width: 992px) {
                    margin-inline-start: 2rem;
                }

                .nav-link,
                .btn {
                    padding-inline: 0.75rem;
                }

                .dropdown-toggle {
                    &::after {
                        margin-inline-start: 0.5rem;
                    }
                }
            }

            .dropdown-menu {
                top: 100% !important;
            }

            .notifications-menu,
            .profile-menu {
                &:after {
                    content: "";
                    position: absolute;
                    top: -0.8rem;
                    inset-inline-end: 1rem;

                    width: 0;
                    height: 0;

                    border-style: solid;
                    border-width: 0 0.8rem 0.8rem 0.8rem;
                    border-color: transparent transparent #fff transparent;
                }
            }

            .notifications-menu {
                &::after {
                    border-color: transparent transparent #129c9a transparent;
                }

                .dropdown-item {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 50%;
                        transform: translateY(50%);

                        background-image: url(../images/icons/check.svg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-color: rgba(41, 166, 164, 0.1);

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 2.25rem;
                        height: 2.25rem;
                        border-radius: 4px;
                    }

                    & + .dropdown-item {
                        border-top: 1px solid rgba(#000, 0.1);
                    }

                    &.settings {
                        &.dropdown-item {
                            &::before {
                                background-image: url(../images/icons/settings-dark.svg);
                            }
                        }
                    }

                    &.header,
                    &.footer {
                        &::before {
                            content: none;
                        }
                    }

                    &.header {
                        display: flex;
                        justify-content: space-between;

                        background-color: #129c9a !important;
                        color: #fff;

                        border-start-end-radius: 0.5rem;
                        border-start-start-radius: 0.5rem;

                        padding: 0.6rem;

                        small {
                            color: rgba(#fff, 0.5);
                        }
                    }

                    &.footer {
                        position: relative;
                        padding-block: 0.5rem;
                        text-align: center;
                        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);

                        border-end-start-radius: 0.5rem;
                        border-end-end-radius: 0.5rem;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

                        a {
                            color: #25a4a2;
                            padding-inline-start: 0;
                        }
                    }

                    a {
                        display: grid;
                        grid-template-columns: auto;
                        padding-inline-start: 3rem;

                        .date {
                            color: rgba(#444, 0.5);
                        }
                    }
                }
            }

            .profile-dropdown {
                margin-inline-start: auto !important;

                .btn {
                    background-color: #249f9b;
                    color: #fff;
                    height: 100%;
                }

                .profile-menu {
                    .dropdown-item {
                        padding: 10px 1.5rem;

                        &:first-of-type {
                            a {
                                display: flex;
                                flex-direction: column;

                                strong {
                                    color: #444;
                                }

                                small {
                                    font-size: 10px;
                                    color: #d3b98c;
                                }
                            }
                        }

                        &.email {
                            color: rgba(#444, 0.5);
                            background-color: rgba(#d9d9d9, 0.2);
                            font-size: 12px;
                            padding-block: 8px;
                            border-top: none;
                        }

                        &.profile {
                            background-color: rgba(#2abab5, 0.2);
                            padding-block: 1rem;
                            color: #26b4b0;
                        }

                        a {
                            color: #444;
                        }

                        .logout-icon {
                            margin-inline-end: 5px;
                        }
                    }
                }
            }

            .nav-tabs {
                .nav-link {
                    color: rgba(#fff, 0.6);

                    &.active {
                        color: #fff;
                    }
                }
            }

            .tab-content {
                .tab-pane {
                    .title {
                        position: relative;
                        color: #fff;
                        border-bottom: 1px solid #fff;
                        font-size: 18px;

                        margin-block: 1rem;
                        padding-inline-end: 1rem;
                        padding-bottom: 0.5rem;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -4px;
                            inset-inline-start: 0;

                            width: 5px;
                            height: 5px;

                            background-color: #fff;
                        }
                    }
                    .list {
                        display: inline-grid;

                        & + .list {
                            margin-inline-start: 6rem;
                        }

                        a {
                            position: relative;
                            color: #fff;

                            &:hover {
                                padding-bottom: 4px;
                                border-bottom: 1px solid #fff;
                                margin-inline-start: 0.5rem;
                                transition: margin 0.3s ease-in-out;

                                &::before {
                                    content: "\00203A";
                                    position: absolute;
                                    inset-inline-start: -10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
