.navbar-toggler {
    @media (max-width: 767px) {
        width: 100%;
        margin: 0.5rem auto;
    }

    @media (min-width: 768px) {
        margin-inline-start: auto;
    }

    &:focus {
        box-shadow: none;
    }

    &:focus-visible {
        outline: 0;
    }

    .navbar-toggler-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin: auto;
        background-image: none;

        &::before,
        &::after {
            content: "";
            display: block;
            border-bottom: 4px solid #fff;
            width: 100%;
            transition: transform 0.5s ease-in-out;

            @media (min-width: 768px) {
                border-bottom: 4px solid darken($cyan, 10%);
            }
        }

        &:before {
            margin-bottom: 5px;
        }
    }

    &:not(.collapsed) {
        .navbar-toggler-icon {
            &:before {
                transform: rotate(-45deg) translateY(2px) translateX(-4px);
            }

            &:after {
                transform: rotate(45deg) translateY(-3px) translateX(-4px);
            }
        }
    }
}

header {
    position: relative;
    z-index: 20;

    @media (max-width: 767px) {
        background: linear-gradient($grad-1 0%, $grad-2 100%);
        box-shadow: 0 -3px 6px rgba(#000, 0.16);

        position: fixed;
        inset: auto 0 0 0;
        z-index: 1001;
    }

    .navbar {
        @media (max-width: 767px) {
            padding-block: 0;
        }

        .navbar-nav {
            flex-grow: 1;

            .nav-item {
                @media (min-width: 992px) {
                    margin-inline-start: 2rem;
                }

                .nav-link,
                .btn {
                    padding-inline: 0.75rem;
                }

                .dropdown-toggle {
                    &::after {
                        margin-inline-start: 0.5rem;
                    }
                }
            }

            .dropdown-menu {
                top: 100% !important;
            }
        }
    }
}
